/*********************
**********************

	Selectors

**********************
*********************/

/* set the default font attributes, background color of the page,
	align the text to the center nad prevent text overflow by moving it
	down a line when it reaches the end of the row. Add 60px of
	padding to the bottom for footer.
*/
html, body, pre {
	font-size: medium;
	font-family: arial, courier, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: white;
	text-align: center;
	background-color: black;
	text-overflow: ellipsis;
	padding-bottom: 60px;
}

/* select the header tags and provide font attributes: size, color, alignment
	and give a shadow to the text.
*/
h1, h2, h3 {
	font-family: arial, courier, sans-serif;
	font-size: xx-large;
	color: blue;
	text-align: left;
	text-shadow: 2px 2px grey;
}

/* specify the h2 and h3 tags and change their color and give them underlines.
	Reduce the size of them.
*/
h2, h3 {
	font-size: x-large;
	color: red;
	text-decoration: underline;
	text-align: center;
	text-shadow: none;
}

/* specify just the h3 tag nad chnage the size to large and align left.
*/
h3 {
	font-size: large;
	text-align: left;
}

/* give hr tags a border style of dashed and colr it grey.
*/
hr {
	border-style: dashed;
	color: grey;
}

/* select la tags that have the class .navbar. Give them decorations
	based on the mouse action.
*/
.navbar a:link {
	color: black;
	text-decoration: underline;
}

.navbar a:visited {
	color: green;
}

.navbar a:hover {
	text-decoration: none;
	color: orange;
}

.navbar a:active {
	color: cyan;
}

/* select unorderlist tags and give them no list style and remove margins and padding.
*/
ul {
    list-style-type: none;
	padding: 0;
	margin: 0;
}

/* select tables and center their text and collapse borders. 
	Give 100% width of the container for the table.
*/
table {
	text-align: center;
	width: 100%;
	border: 5px solid navy;
	border-collapse: collapse;

}

/* Select the td elements and color their text contents red and change border style.
*/
td {
	border: 3px solid navy;
	color: red;
}


/*********************
**********************

	Id's

**********************
*********************/

/* Seelct the logo id'd elements and set the dimensions of them.
	Move margin left by -5% and give a bottom border only.
*/
#logo {
	margin-left: -5%;
    height: 110%;
    width: 110%;
	border-bottom: 1px solid black;
}

/* select the search id'd elements and set the width, give a thin border
	and center it based of auto margins. Allwos for better dynamic screen sizes.
*/
#search {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 65%;
	border-width: thin;
}

/* select id'd elements that start with searchData_. Set the alignment to the
	left , give it no border, color it red, and center via auto margins.
*/
*[id^='searchData_'] {
	text-align: left;
	border: none;
	color: red;
	margin-left: auto;
	margin-right: auto;
}


/*********************
**********************

	Classes

**********************
*********************/

/* select the elements with the class navbar.
	change the background color, givet he text color blue,
	position it fixed so scrolling down the page the element will stay
	in view. set the dimension to cooperate with other element views.
*/
.navbar {
	background-color: maroon;
	color: blue;
	margin-left: 91%;
	position: fixed;
	float: right;
	height: 260px;
	width: 7%;
	padding: 5px;
	border-radius: 5px;
	font-size: large;
}

/* select the elements with the class header.
	set the width to take the view's dimension, the height only 10% of the page.
	color the text white, give some border attributes, and shadow the text.
*/
.header {
	height: 10%;
	width: auto;
	padding-bottom: 2%;
	padding-left: 1%;
	border-bottom: double;
	border-color: white;
	color: white;
	font-size: xx-large;
	text-shadow: 2px 2px 10px #FF0000;
}

/*	select the elements with the class content.
	set the elements to float on the left side, give right margin room for
	navbar and clear the right floated elements.
*/
.content {
	float: left;
	margin-left: auto;
	margin-right: 9%;
	border: 2px solid white;
	width: 90%;
	word-wrap: break-word;
	color: white;
	clear: right;
}

/* select the elements with class footer.
	Give a color to the background of the element.
	fix its position to the bottom of the view.
	clear both side of it so its not overlapping anything.
	set the bottom of it to 0 which is the bottom of the view.
*/
.footer {
	height: 50px;
	width: 100%;
	background-color: maroon;
	bottom: 0;
	clear:both;
	position: fixed;
	color: white;
}

/* select elements with the class photo.
	set the width and height of it.
*/
.photo {
	height: 300px;
	width: 300px;
}

/* if javascript is disabled, set error message dialog properties.
*/
.noscriptmsg {
	color: black;
	font-size: xx-large;
	background-color: yellow;
}

/* prevent overflow on features_table class elements.
*/
.features_table {
	overflow: scroll;
}

/* remove border form elements with features class.
*/
.features {
	border: none;
}