/*********************
**********************

	Classes

**********************
*********************/

.navbar {
	background-color: maroon;
	color: blue;
	margin-left: 91%;
	position: fixed;
	float: right;
	height: 220px;
	width: 7%;
	padding: 5px;
	border-radius: 5px;
	font-size: large;
}

.header {
	height: 10%;
	width: auto;
	padding-bottom: 2%;
	padding-left: 1%;
	border-bottom: double;
	border-color: white;
	color: white;
	font-size: xx-large;
	text-shadow: 2px 2px 10px #FF0000;
}

.content {
	float: left;
	height: auto;
	margin-left: auto;
	margin-right: 9%;
	border: 2px solid white;
	width: 90%;
	word-wrap: break-word;
	color: white;
	clear: right;
}

.footer {
	height: 50px;
	width: 100%;
	float: bottom;
	clear: both;
	background-color: maroon;
	margin-top: 100%;
	color: white;
}

.photo {
	height: 100px;
	width: 100px;
	margin-left:auto;
	margin-right:auto;

}



/*********************
**********************

	Id's

**********************
*********************/

#logo {
	margin-left: -5%;
    height: 110%;
    width: 110%;
	border-bottom: 1px solid black;
}

#search {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 55%;
	border: none;
}

#searchData {
	text-align: left;
	border: none;
	color: red;
}



/*********************
**********************

	Selectors

**********************
*********************/

body {
	font-size: medium;
	font-family: arial, courier, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: white;
	text-align: center;
	background-color: black;
	text-overflow: ellipsis;
}

h1 {
	font-family: arial, courier, sans-serif;
	font-size: xx-large;
	color: blue;
	text-align: left;
	text-shadow: 2px 2px grey;
}

a:link {
	color: gold;
	text-decoration: underline;
}
a:visited {
	color: purple;
}
a:hover {
	text-decoration: none;
	color: orange;
}
a:active {
	color: black;
}

ul {
    list-style-type: none;
	padding: 0;
	margin: 0;
}

table {
	text-align: center;
	width: 100%;
	border: 5px solid navy;
	border-collapse: collapse;

}

td {
	border: 3px solid navy;
	color: red;
}